html{
  padding: 0%;
  background-color: rgb(228, 228, 228);
}

.lista-de-tareas{
  background-color: rgb(228, 228, 228);
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin-top: 10%;
  padding:0px 5px 0px 5px;
  margin: 0%;
}

#header{
  background-color: rgb(67, 124, 247);
  display: flex;
}

h1{
  flex: 1;
  font-weight: lighter;
  font-size: 150%;
  color: white;
  padding: 1.5%;
  margin: 0%;
}

#mostrarTareas{
  align-self: center;
  height: 60%;
  padding: 6px;
  margin-right: 2%;
  background-color: rgb(51, 93, 184);
}

button{
  font-size: 1rem;
  padding: 0.7% 2%;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.5 ease;
}

.boton-añadir-tarea{
  font-weight: bold;
  border-radius: 5px;
  padding: 0.2% 0.5% 0.05% 0.5%;
  background-color: rgb(32, 197, 32);
  margin: 0% 0% 0% -5%;
}

.boton-añadir-tarea:hover{
  background-color: rgb(0, 78, 0);
}

.boton-editar-tarea{
  background-color:rgb(32, 197, 32);
}

.boton-editar-tarea:hover{
  background-color: rgb(28, 172, 28);
}

.boton-borrar-tarea{
  font-weight: bold;
  color: gray;
  background-color: rgba(0, 0, 0 , 0);
}

.boton-borrar-tarea:hover{
  font-weight: bold;
  color: rgb(77, 77, 77);
}

input[type="text"]{
  margin: 1%;
  margin-top: 2%;
  width: 97%;
  font-size: 150%;
  padding: 0.5% 0.5% 2% 0.5%;
  border: 0px;
  border-bottom: 2px solid grey;
}

#crea-tarea{
  margin-top: 0%;
  background-color: white;
  margin-bottom: 0%;
  box-shadow: 7px 7px 7px rgba(128, 128, 128, 0.267);
}

ol{
  padding: 0%;
  margin-top: 0px;
}

li{
  font-size: 150%;
  padding: 1%;
  background-color: rgb(241, 241, 241);
  box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.267);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  width: 30px;
  height: 30px;
}

.texto{
  flex: 1;
  margin-left: 1%;
}

